body {
    font-family: 'Sahitya', serif;
    background-color: pink;
}

h2 {
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav-item {
    font-size: large;
}

h5 {
    padding-top: 5px;
}

h3 {
    padding-top: 5px;
}

a {
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin-top: 10px;
}

.nav-link {
    color: grey;
}

a:hover {
    color: purple;
}

#portfolio {
    border: 1px solid grey;
    box-shadow: 0px 8px 8px grey;
    border-radius: 5px;
    background-color: papayawhip;
}

.container-fluid .col-12 {
    margin-bottom: 10px;
}

img {
    width: 350px;
    /* You can set the dimensions to whatever you want */
    object-fit: cover;
    margin: 10px 10px 10px 10px;
}

iframe {
    width: 350px;
    /* You can set the dimensions to whatever you want */
    object-fit: cover;
    margin: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
}


.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: teal;
    color: whitesmoke;
    padding: 5px 120px 5px 120px;
    font-size: larger;
    margin: 10px 10px 10px 10px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: teal;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}
